<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RKP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RKP.Properties.Settings>
            <setting name="NPI" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="RKP" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="R" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="com_e" serializeAs="String">
                <value />
            </setting>
            <setting name="com_t" serializeAs="String">
                <value />
            </setting>
            <setting name="baudeRate_e" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="baydeRate_t" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="paryty_e" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="paryty_t" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stop_byts_e" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stop_byts_t" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bytSize_e" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="bytSize_t" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="oneDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>192.168.0.7</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>355</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value>d:\\dataBase\\loadcells.fdb</value>
            </setting>
            <setting name="device_e" serializeAs="String">
                <value>MGCPluse</value>
            </setting>
            <setting name="device_t" serializeAs="String">
                <value>KVP307</value>
            </setting>
            <setting name="adres_e" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="adres_t" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="com_p" serializeAs="String">
                <value />
            </setting>
            <setting name="baudeRate_p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="paryty_p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stop_byts_p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bytSize_p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="device_p" serializeAs="String">
                <value>ESQ760</value>
            </setting>
            <setting name="adres_p" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="etalon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="peref" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shinaRs_e" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shinaRs_t" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shinaRs_p" serializeAs="String">
                <value>False</value>
            </setting>
        </RKP.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>