<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HBM.CommonAPI" version="6.2.0.134" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
  <package id="NModbus" version="3.0.58" targetFramework="net48" />
  <package id="NModbus4" version="2.1.0" targetFramework="net48" />
  <package id="PortableGit" version="2.5.1.01" targetFramework="net48" />
  <package id="SharpJet" version="1.1.0" targetFramework="net48" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net48" />
</packages>